{% extends "base.html" %}
{% block title %}New Event{% endblock %}
{% block content %}
<form method="POST">
    <h1 align="left">New Event</h1>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" name="title" class="form-control" placeholder="Enter Title" required>
      </div>
      <div class="mb-3">
        <label for="tags" class="form-label">Tags</label>
        <input type="text" id="tags" name="tags" class="form-control" placeholder="Enter Tags">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" rows="10" required></textarea>
      </div>
      <div class="mb-3">
        <label for="start">Start Time</label>
        <input type="date" id="start" name="start" required></input>
      </div>
      <div class="mb-3">
        <label for="end">End Time</label>
        <input type="date" id="end" name="end" required></input>
      </div>
      <div class="mb-3">
        <label for="meeting_point" class="form-label">Meeting Point</label>
        <input type="text" id="meeting_point" name="meeting_point" class="form-control" placeholder="Enter Meeting Point">
      </div>
      <div class="mb-3">
        <label for="destination" class="form-label">Destination</label>
        <input type="text" id="destination" name="destination" class="form-control" placeholder="Enter Destination">
      </div>
      <div class="mb-3">
        <label for="max_participants" class="form-label">max_participants</label>
        <input type="text" id="max_participants" name="max_participants" class="form-control" placeholder="Enter max_participants">
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
  </form>
  <br>
{% endblock %}