{% extends "base.html" %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
<style>
  .wrapper {
    padding: 20px;
    /* background: #eaeaea; */
    /* max-width: 400px; */
    margin: 50px auto;
  }
  .demo-1 {
  /* overflow: hidden; */
  display: -webkit-box;
  /* -webkit-line-clamp: 3; */
  -webkit-box-orient: vertical;
  }
</style>

<div align="center">
  <h1>title : {{post.title}}</h1>

  <div align="left">
    <h3>author : {{post.author.name}}</h3>
    <br>
    <br>
    <a>members : {{ post.likes | length }}</a>
    <br>
    <br>
    <h3>Content</h3>
  </div>

    <div class="wrapper">
      <p class="demo-1" align="left">{{post.content}}</p>
    </div>

    {% if user.get_id() == post.author.get_id() %}
      <a class="btn btn-danger" href="/forum/{{ post.forum_id }}/{{post.post_id}}/delete">Delete Event</a>
    {% endif %}

    {% if user.is_authenticated %}
      {% if user in post.likes %}
        <a class="btn btn-primary" href="/forum/{{ post.forum_id }}/{{ post.post_id }}/like">Leave Event</a>
      {% else %}
        <a class="btn btn-outline-primary" href="/forum/{{ post.forum_id }}/{{ post.post_id }}/like">Join Event</a>
      {% endif %}
    {% endif %}
  <br>
  <br>
  <!-- {% if user.is_authenticated %}
    <a class="btn btn-danger" href="/forum/{{ post.forum_id }}/{{ post.post_id }}/report">Report</a>
  {% endif %} -->

  <br>
  <br>
  {% if post.comments | length > 0 %}
    <h3 id="Chat">Chat</h3>
  {% endif %}
  <div class="col-9" align="center" style="background-color: gray;">
  {% for comment in post.comments %}
    <div > 
    {% if comment.user.get_id() == user.get_id() %}
      <a>{{comment.user.name}} (you)</a>     
      <div style="border-radius: 50px; background-color: aquamarine;right: 50%;max-width: 30%;">{{comment.text}}</div>
    {% elif comment.user.get_id() == post.author.get_id() %}
      <a>{{comment.user.name}} (host)</a>    
      <div style="border-radius: 50px; background-color: rgb(166, 226, 126);left: 20%;max-width: 30%;">{{comment.text}}</div>
      {% else %}
      <a>{{comment.user.name}}</a>
      <div style="border-radius: 50px; background-color: rgb(255, 200, 127);left: 20%;max-width: 30%;">{{comment.text}}</div>
    {% endif %}
    <br>
    <br>
    </div>
  {% endfor %}
  </div>

  {% if user.is_authenticated %}
    <form method="POST">
          <div class="mb-3">
            <!-- <label for="text" class="form-label">Chat</label> -->
            <input type="text" id="text" name="text" class="form-control" placeholder="Enter Your Message" required>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
      </form>
  {% endif %}

  {% if user.is_authenticated %}
  {% endif %}
</div>
{% endblock %}